<!-- Header -->
    <header id="header" {% if page.banner %} class="alt"{% endif %}>
        <h1><a href="{{ site.baseurl }}/de">Make Zurich</a> 2017</h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">English</a></li>
                <li><a href="{{ site.baseurl }}/de/guidelines">Richtlinien</a></li>
                <li><a href="{{ site.baseurl }}/de/press-kit">Pressemappe</a></li>
                <li><a href="{{ site.baseurl }}/de/sign-up" class="button">Melde Dich an</a></li>
            </ul>
        </nav>
    </header>
