<!-- Header -->
    <header id="header" {% if page.banner %} class="alt"{% endif %}>
        <h1><a href="{{ site.baseurl }}/de">Make Zurich</a> Vol. II</h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">English</a></li>
                <li><a href="{{ site.baseurl }}/de/faq">FAQ</a></li>
                <li><a href="{{ site.baseurl }}/de/guidelines">Richtlinien</a></li>
                <li><a href="{{ site.baseurl }}/de/press-kit">Pressemappe</a></li>
                <li><a href="{{ site.baseurl }}/2017/faq" class="button">2017 Archiv</a></li>
            </ul>
        </nav>
    </header>
