<!-- Header -->
    <header id="header" {% if page.banner %} class="alt"{% endif %}>
        <h1><a href="{{ site.baseurl }}/">Make Zurich</a> 2017</h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/de">Deutsch</a></li>
                <li><a href="{{ site.baseurl }}/guidelines">Guidelines</a></li>
                <li><a href="{{ site.baseurl }}/press-kit">Press kit</a></li>
                <li><a href="{{ site.baseurl }}/sign-up" class="button">Sign up</a></li>
            </ul>
        </nav>
    </header>
