<!-- Header -->
    <header id="header" {% if page.banner %} class="alt"{% endif %}>
        <h1><a href="{{ site.baseurl }}/">Make Zurich</a> Vol. II</h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/de">Deutsch</a></li>
                <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
                <li><a href="{{ site.baseurl }}/guidelines">Guidelines</a></li>
                <li><a href="{{ site.baseurl }}/press-kit">Press kit</a></li>
                <li><a href="{{ site.baseurl }}/2017/faq" class="button">2017 Archive</a></li>
            </ul>
        </nav>
    </header>
