<!-- CTA -->
<section id="cta">

    <h2>Sign up and save the date</h2>
    <p>Get in touch with us and we will keep you up to date on all the details very soon!</p>

    <form method="post" action="https://formspree.io/info@makezurich.ch">
        <div class="row uniform">
            <div class="5u 12u(mobilep)">
                <input type="text" name="name" id="name" value="" placeholder="Name" />
            </div>
            <div class="5u 12u(mobilep)">
                <input type="email" name="_replyto" id="email" value="" placeholder="Email" />
            </div>
            <div class="2u 12u(mobilep)">
                <ul class="actions align-center">
                    <li><input type="submit" value="Sign up" /></li>
                </ul>
                <input type="hidden" name="_next" value="thank-you/" />
                <input type="text" name="_gotcha" style="display:none" />
            </div>
        </div>
    </form>

</section>
