
html, body, input, select, textarea, h1, h2, h3, h4, h5, h6 { font-family: Fira Sans, sans-serif; }

body {
    background-color: #f5f5f5;
    color: black;
}

.navbar {
    background: url(https://makezurich.ch/assets/images/banner.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 38%;
}

.section.section-centered.section-header {
    text-align: center;
}

nav .section-header .section-header-logo {
    float: none;
    margin: 2em;
}

nav .section-header .section-header-logo img {
    height: 110px;
}

.container.with-event {
    margin-top: 190px;
}

.embed-view .container.with-event { 
    margin-top: 0px;
}

@media (min-width: 768px) {
    /* Hide DRIBDAT logo on Desktops */
    .navbar-header { display: none; }
}

.section-header-content { display:none; }

.navbar-ex1-collapse {
    background-color: rgba(2,57,119,0.8);
    padding: 0 1em !important;
}

#discourse-comments {
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin-top: 28px;
}

.jumbotron {
    background-color: #fff;
    box-shadow: 0 2px 0 0 #e5e5e5;
}

.jumbotron.home-page h2 {
    display: none;
}

h3 {
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.jumbotron .event-description {
    font-weight: 300;
    font-size: 14.5px;
}

.organizers {
    text-align: center;
}

.organizers img {
    margin-right: 20px;
    width: 185px;
}

.partner-logos img {
    margin: 10px;
    width: 70px;
}

.community-partner-logos img {
    margin: 10px;
    width: 60px;
    margin-bottom: 60px;
}

.btn {
    background-image: none;
    background-color: transparent;
    border-radius: 6px;
    color: #777;
    font-weight: 300;
    font-size: 14px;
    border: 0;
    padding: 10px 30px;
    text-shadow: none;
}

.btn:hover {
    background-image: none;
    background-color: #f8f8f8;
    color: #777;
    border: 0;
}

.btn:active {
    box-shadow: none;
}

.btn-primary {
    background-color: #666;
    color: white;
}

.btn-primary:hover {
    background-color: #737373;
    color: white;
}

.btn-default {
    box-shadow: inset 0 0 0 2px #e5e5e5;
}

.btn-success, .btn-submit {
    background-color: #e89980;
    color: white;
    box-shadow: none;
}

.btn-success:hover, .btn-success:active, .btn-success:active:hover, .btn-success:active:focus, .btn-success:focus,
.btn-submit:hover,  .btn-submit:active,  .btn-submit:active:hover,  .btn-submit:active:focus,  .btn-submit:focus {
    background-color: #ecaa96;
    color: white;
}

.project .hexagontent {
    text-shadow: none;
}

.nav-categories .btn, .project-category.btn {
    font-size: 13px;
    background-color: #0070ba;
    color: white;
    box-shadow: none;
    padding: 12px 8px;
    min-height: inherit;
}

.nav-categories .btn.active, .project-category.btn.active {
    opacity: 1;
}

.__slackin { margin-bottom: 10px; display: block; }

.signin-slack, .signin-slack:hover {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png);
}

.signin-slack {
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 10px 8px;
    line-height: 41px;
    box-shadow: inset 0 0 0 2px #e5e5e5;
    padding: 0 42px;
}

#loginForm {
    margin: 0;
}
